*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    position:relative;
}

/*Landing.JS */

.landing_container{
    height:100vh;
    width:100vw;
    background:linear-gradient(to right,lightgray,silver)
}

.landing-header{
    height:25vh;
    width:100%;
}

.landing_header_overlay, .landing_header_card{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.overlay_img{
    width:100%;
    height:100%;
}

.landing_header_card{
    background:black;
    opacity:.7;
    color:silver;
}


.landingh1{
    left:25%;
    top:5%;
}

.landingh4{
    left:40%;
    top:5%;
}

.landingh5{
    left:45%;
    top:5%;
}

.toggle_form_btn{
    height:20px;
    width:200px;
    background:none;
    color:black;
    cursor:pointer;
    left:40%;
    top:15px;
    color:silver;
}


.toggle_form_btn:hover{
    text-decoration:underline;
}

.landing_body{
    height:85vh;
    width:100%;
}


.landinginput{
    outline:none;
    border:none;
    background:lightgray;
    padding:.5em;
}

.landing_body_overlay, .landing_body_content{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

.landing_body_content{
    background:black;
    opacity:.8;
}

.landing_icon_div{
    top:30%;
    left:50%;
}

.landing_icon{
    color:red;
    transform:scale(3.5);
    transition:1s ease;
    animation:pulsing 4s forwards;
    
}

.toggleBtnRow{
    height:10vh;
}

@keyframes pulsing{
    0%{
        transform:scale(1)
    }
    50%{
        transform:scale(5)
    }

    100%{
        transform:scale(0)
    }
}

.landing_body_footer{
    height:10%;
    text-align:center;
    color:silver;
    position:absolute;
    top:95%;
    width:100%;
}

.error-alert{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    margin-bottom:5px;
    flex-direction:column;
}

.hide-error-alert{
    display:none
}

/* Login.js && Signup.js */

.long_register_card{
    width:100%;
    left:10%;
    height:0px;
    overflow:hidden;
    border-radius:15%;
    /* border:2px solid silver; */
    top:10%;
    position:absolute;
    color:silver;
    animation:render 2s 1s forwards;
}


@keyframes render{
    100%{height:400px;width:80%;}
}

.input_card{
    height:80%;
    width:100%;
    transform-style:preserve-3d;
    transition:1s ease;
}


.login_card, .signup_card{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;

}

.show_login_card, .show_signup_card{
    opacity:1;
    z-index:2;
}



.login_form{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:column;

}

.form_div{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction:column;
}



.sub-text{
    opacity:.85;
    top:-15px;
}

.sub-text-caption{
    top:0px;
}


.login_card_h3{
    text-align:center;
    margin-bottom:5px;
}


.loginbtn{
    width:125px;
    height:20px;
    background:none;
    color:silver;
    box-shadow:0 0 2px 3px rgb(0,0,0,0.8)

}

.loginbtn:hover{
    text-decoration:underline;
}




/* .signup_card{
    backface-visibility:hidden;
} */





.signup_form{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.signup_h3{
    text-align:center;
    
}


.dob_form_div{
    display:flex;
}

.dob_input{
    width:75px;
    margin-left:2px;
}





@media screen and (max-width:550px){
    .signup_form{
        display:flex;
        align-items:center;
        flex-direction:column;
        justify-content: space-evenly;
        overflow:auto;
    }


    .long_register_card{
        overflow:auto;
    }

   
}


.sign_up_btn{
    width:200px;
    height:30px;
    background:green;
    margin-top:15px;
}